@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "tinymist";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(14% 0.004 49.25);
  --color-base-200: oklch(21% 0.006 56.043);
  --color-base-300: oklch(26% 0.007 34.298);
  --color-base-content: oklch(97% 0.001 106.424);
  --color-primary: oklch(78% 0.154 211.53);
  --color-primary-content: oklch(30% 0.056 229.695);
  --color-secondary: oklch(82% 0.189 84.429);
  --color-secondary-content: oklch(27% 0.077 45.635);
  --color-accent: oklch(70% 0.165 254.624);
  --color-accent-content: oklch(28% 0.091 267.935);
  --color-neutral: oklch(37% 0.01 67.558);
  --color-neutral-content: oklch(98% 0.001 106.423);
  --color-info: oklch(60% 0.126 221.723);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(64% 0.2 131.684);
  --color-success-content: oklch(98% 0.031 120.757);
  --color-warning: oklch(66% 0.179 58.318);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(59% 0.249 0.584);
  --color-error-content: oklch(97% 0.014 343.198);
  --radius-selector: 0.25rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.21875rem;
  --size-field: 0.28125rem;
  --border: 2px;
  --depth: 1;
  --noise: 0;
}

@layer base {
  :root {
    --root-bg: var(--color-base-200);
    background-image: repeating-linear-gradient(
      -45deg,
      var(--color-base-200),
      var(--color-base-200) 13px,
      var(--color-base-100) 13px,
      var(--color-base-100) 14px
    );
    background-size: 40px 40px;
  }
}
